.header {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-evenly;
  max-width: 1080px;
  width: 100%;
  border-bottom: 2px dotted#3c3d37;
  margin-inline: auto;
  padding: 20px;
  align-items: center;
}

.header p {
  padding: 0px;
  margin: 0px;
}

.header-middle {
  text-align: center;
  max-width: 100%;
}

.header-right {
  text-align: right;
  max-width: 100%;
}
