* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1e201e;
  color: #ecdfcc;
}

p {
  font-size: 2vh;
  margin: 20px 0px 20px 0px;
}

a {
  text-decoration: none;
}

.button {
  border-style: none;
  border-radius: 8px;
  background-color: #3c3d37;
  font-size: 2vh;
  padding: 15px;
  margin: 20px;
}
